<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.nationz.ca"
    android:versionCode="2"
    android:versionName="2.0" >

    <!--<uses-sdk-->
            <!--android:targetSdkVersion="18">-->
    <!--</uses-sdk>-->
    
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
   
    <application
            android:allowBackup="true"
            android:name="com.nationz.ble.test.NzApplicaion"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.example.bluetooth.le.DeviceScanActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            
        </activity>
        
         <activity android:name="com.example.bluetooth.le.DeviceControlActivity"
                   android:screenOrientation="portrait"
                   android:windowSoftInputMode="stateHidden"/>
         
         <activity android:name="com.nationz.ble.test.MainActivity"
                   android:screenOrientation="portrait"
                   android:windowSoftInputMode="stateHidden">
        </activity>



        <service android:name="com.example.bluetooth.le.BluetoothLeService" android:enabled="true"/>
        
        <service android:name="com.nationz.service.BleService"/>
    </application>

</manifest>
